<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Test Product Page</title>
    <link rel="stylesheet" type="text/css" href="/default.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="../JS/listing2.js"></script>
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'"></p>
    <p th:text="'Currently showing: ' + ${productName} + ' products'"></p>
    <p>This is a sample page that demonstrates frontend API loading.</p>
    <a id="pTest">Text</a>
<!--
<div style="text-align:left">
    <table id="listingTableLeft">
        <tbody id="leftTableBody"></tbody>
            &lt;!&ndash; Set product values to be displayed. &ndash;&gt;
            &lt;!&ndash;
            <td th:text="${product.name}">Name</td>
            <td th:text="'No. '+ ${product.id}">ID Number</td>
            <td th:text="'$'+${product.cost}">Cost</td>
            <td th:text="${product.content}">Content</td>
            &ndash;&gt;
    </table>
</div>

<div style="text-align: right">
    <table id="ListingTableRight">
        <tr th:each="product : ${products}"
            th:if="${product.id} % 2 == 1">
            <input type="hidden" th:id="'p-id' + ${product.id}" th:value="${product}"/>
            <script src="../../java/com/example/serverdemo/listing2.js" async></script>
            <td th:text="${product.name}">Name</td>
            <td th:text="'No. '+ ${product.id}">ID Number</td>
            <td th:text="'$'+${product.cost}">Cost</td>
            <td th:text="${product.content}">Content</td>
        </tr>
    </table>
</div>
-->

<footer id="footer">
    <a href="/index.html">Go home</a>
</footer>
</body>
</html>
