<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head> 
    <title>Test Product Page</title>
    <link rel="stylesheet" href="../static/default.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Welcome, ' + ${name} + '!'"></p>
    <p th:text="'Currently showing: ' + ${productName} + ' products'"></p>
    <table>
        <tr>
            <td>Product 1</td>
            <td>Product 2</td>
        </tr>
        <tr>
            <td>Product 3</td>
            <td>Product 4</td>
        </tr>
    </table>
</body>
</html>
